<h1>Shopping cart</h1>
<div>

  <% if @order.empty? %>
    <p>No items in cart.</p>
  <% else %>
    <% @order.each do |item| %>
      <%= item.name %>
    <% end %>
  <% end %>

</div>
  <%# <%= simple_form_for order_item do |f| %>
    <%# <%= f.integer :quantity %>
    <%# <%= f.button :submit, 'Update cart' %>
    <%# <%= link_to 'Remove Items', order_item, method: :delete, remote: true %>
  <%# <% end %>
  <%# Subtotal: <%= order_item.total %>

<%# <h3>Total</h3> %>
<%# <%= current_order.subtotal %>

<%# stripe checkout %>
