<h1>Shopping cart</h1>
<div id="card-item">
<%= @order_items.each do |order_item| %>
<h3><%= order_item.item.name %></h3>
  <%= simple_form_for order_item do |f| %>
    <%= f.integer :quantity %>
    <%= f.button :submit, 'Update cart' %>
    <%= link_to 'Remove Items', order_item, method: :delete, remote: true %>
  <% end %>
  <%# <h2>Subtotal: <%= order_item.total %></h2>
<% end %>

<h3>Total</h3>
<%# <h2><%= current_order.subtotal %></h2></div>

<%# stripe checkout %>
