<div class="card" data-filter-target="list">
    <% @items.each do |item| %>
    <div class="card-wrapper">
    <div class="card-wrap">
      <div class="card-front">
        <%= image_tag item.photo, width: 300, height:200 %>
      </div>
      <div class="card-back">
        <%= item.name %>
        <div class='type'>
          <p>Flavor: <em><%= item.flavor %></em></p>
          <p>Type: <em><%= item.temp %></em></p>
        </div>
        <%= item.description %>
        <div class="button">
          <%= link_to item_path(item) do %>
            <button class='btn btn-see'>See</button>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <% end %>

</div>
