<header>
  <div class='text-header'>
    <h1>Aïseu</h1>
    <h2>Vegan homemade mochi <br> delivered to your door</h2>
  </div>
  <button class='btn purple-big' id='btn-scroll'>Discover</button>
</header>

<div data-controller="filter">
<div class="nav-top h-150">
  <div class='nav-left'>
    <%= form_with url: '/', id: "form-temp", class:"form", remote: true, method: :get do |f| %>
      <div class="checkbox margin-right">
        <%= check_box_tag :temp, 'iced', false, data: { action: "change->filter#sortbytemp", filter_target: 'tempcheckbox' } %>
         <%= f.label :temp, "iced" %>
      </div>
      <div class="checkbox">
        <%= check_box_tag :temp, 'classic', false, data: { action: "change->filter#sortbytemp", filter_target: 'tempcheckbox' } %>
        <%= f.label :temp, "classic" %>
      </div>
    <% end %>
  </div>
  <div class="nav-right">
    <%= link_to carts_path do %>
      <i class="fa-solid fa-cart-shopping"></i>
    <% end %>
    <i class="fa-solid fa-user"></i>
  </div>
</div>

<div class="ctr">
  <div class='nav side border-side'>
  <h3>Pick a flavor</h2>
  <%= form_with url: '/', id: "form-flavor", class:"form", remote: true, method: :get do |f| %>
      <div class="checkbox">
        <%= f.label :flavor, "chocolate" %>
        <%= check_box_tag :flavor, 'chocolate', true, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
      <div class="checkbox">
        <%= f.label :flavor, "fruits" %>
        <%= check_box_tag :flavor, 'fruits', true, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
      <div class="checkbox">
        <%= f.label :flavor, "nuts" %>
        <%= check_box_tag :flavor, 'nuts', true, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
      <div class="checkbox">
        <%= f.label :flavor, "tea/coffee" %>
        <%= check_box_tag :flavor, 'tea/coffee', true, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
    <% end %>
  </div>


    <%= render 'items/list', items: @items %>
  </div>
</div>
