<header>
  <div class='text-header'>
    <h1>Aïseu</h1>
    <h2>Vegan homemade mochi <br> delivered to your door</h2>
  </div>
  <button class='btn purple-big' id='btn-scroll'>Discover</button>
</header>

<div data-controller="filter">
<div class="nav-top h-150">
  <div class='nav-left'>
    <%= form_with url: '/', id: "form-temp", data: { action:"click->filter#sortbytemp" }, class:"form", remote: true, method: :get do |f| %>
      <div class="checkbox margin-right" >
        <%= f.label :temp, "iced", data: { filter_target: 'tempcheckbox' }%>
        <%= check_box_tag :temp, 'iced' %>
      </div>
      <div class="checkbox">
        <%= f.label :temp, "classic", data: { filter_target: 'tempcheckbox' } %>
        <%= check_box_tag :temp, 'classic' %>
      </div>
    <% end %>
  </div>
  <div class="nav-right">
    <%= link_to carts_path do %>
      <i class="fa-solid fa-cart-shopping"></i>
    <% end %>
    <i class="fa-solid fa-user"></i>
  </div>
</div>

<div class="ctr">
  <div class='nav side border-side'>
  <h3>Pick a flavor</h2>
  <%= form_with url: '/', id: "form-flavor", data: { action: "click->filter#sortbyflavor" }, class:"form", remote: true, method: :get do |f| %>
      <div class="checkbox">
        <%= f.label :flavor, "chocolate", data: { filter_target: 'flavorcheckbox' } %>
        <%= check_box_tag :flavor, 'chocolate' %>
      </div>
      <div class="checkbox">
        <%= f.label :flavor, "fruits", data: { filter_target: 'flavorcheckbox' } %>
        <%= check_box_tag :flavor, 'fruits' %>
      </div>
      <div class="checkbox">
        <%= f.label :flavor, "nuts", data: { filter_target: 'flavorcheckbox' } %>
        <%= check_box_tag :flavor, 'nuts' %>
      </div>
      <div class="checkbox">
        <%= f.label :flavor, "tea/coffee", data: { filter_target: 'flavorcheckbox' } %>
        <%= check_box_tag :flavor, 'tea/coffee' %>
      </div>
    <% end %>
  </div>


    <%= render 'items/list', items: @items %>
  </div>
</div>
