<header>
  <h1>Aïseu</h1>
</header>

<div data-controller="filter">
<nav class='navbar'>
  <%= form_with url: '/', id: "form-temp", class:"form", method: :get do |f| %>
      <div class="checkbox">
        <%= f.label :temp, "iced" %>
        <%= check_box_tag :temp, 'iced', false, data: { action: "change->filter#sortbytemp", filter_target: 'tempcheckbox' } %>
      </div>
      <div class="checkbox">
        <%= f.label :temp, "classic" %>
        <%= check_box_tag :temp, 'classic', false, data: { action: "change->filter#sortbytemp", filter_target: 'tempcheckbox' } %>
      </div>
    <% end %>
</nav>

<div data-filter-target="list">
  <div class="card" >
    <% @items.each do |item| %>
    <div class="card-wrapper">
    <div class="card-wrap">
      <div class="card-front">
        <%= image_tag item.photo, width: 300, height:200 %>
      </div>
      <div class="card-back">
        <%= item.name %>
        <div class='type'>
          <p>Flavor: <em><%= item.flavor %></em></p>
          <p>Type: <em><%= item.temp %></em></p>
        </div>
        <%= item.description %>
        <div class="button">
          <%= link_to item_path(item) do %>
            <button class='btn btn-see'>See</button>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
</div>
