<header>
  <h1>Aïseu</h1>
</header>

<div data-controller="filter">
  <nav class='navbar'>
    <%= form_with url: '/', id: "form-temp", class:"form", data:{ filter_target: 'tempform'}, method: :get do |f| %>
      <div class="checkbox">
        <%= f.label :temp, "iced" %>
        <%= check_box_tag :temp, 'iced', false, data: { action: "change->filter#sortbytemp", filter_target: 'tempcheckbox' } %>
      </div>
      <div class="checkbox">
        <%= f.label :temp, "classic" %>
        <%= check_box_tag :temp, 'classic', false, data: { action: "change->filter#sortbytemp", filter_target: 'tempcheckbox' } %>
      </div>
    <% end %>
  </nav>

  <nav class='navbar side'>
  <%= form_with url: '/', id: "form-flavor", class:"form", data:{ filter_target: 'flavorform'}, method: :get do |f| %>
      <div class="checkbox side">
        <%= f.label :flavor, "chocolate" %>
        <%= check_box_tag :flavor, 'chocolate', false, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
      <div class="checkbox side">
        <%= f.label :flavor, "fruits" %>
        <%= check_box_tag :flavor, 'fruits', false, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
      <div class="checkbox side">
        <%= f.label :flavor, "nuts" %>
        <%= check_box_tag :flavor, 'nuts', false, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
      <div class="checkbox side">
        <%= f.label :flavor, "tea/coffe" %>
        <%= check_box_tag :flavor, 'tea/coffee', false, data: { action: "change->filter#sortbyflavor", filter_target: 'flavorcheckbox' } %>
      </div>
    <% end %>
</nav>

  <%= render 'items/list', items: @items %>
</div>
