<div class="nav-top">

  <%= link_to root_path do %>
    <button class='btn purple-little'>Return</button>
  <% end %>
  <h1>Aïseu</h1>
  <div class="nav-right">
    <i class="fa-solid fa-cart-shopping"></i>
    <i class="fa-solid fa-user"></i>
  </div>
</div>

<div class='ctr-mochi'>
  <%= image_tag @item.photo, class:'bgd-show'%>
  <div class="card-mochi">
  <%= simple_form_for @item do |f| %>
    <h2><%= @item.name %></h2>
    <h4><%= @item.flavor %></h4>
    <h4><%= @item.temp %></h4>
    <p><%= @item.description %></p>
    <h3 class='white'>Price: <span id='price'>1.20</span>€</h3>
    <%# update quantity when click on + and reduce it when click on - (addEventListener on each i + =+1/ =-1 on innerHTML of quantity ) %>
    <div class='d-flex'>
      <i class='fa-solid fa-plus' id='plus'></i><p id='quantity'>1</p><i class='fa-solid fa-minus' id='minus'></i>
    </div>
    <%= f.button :submit, 'Buy', class:'btn white-little blue'%>
  <% end %>
  </div>
</div>
